@import "variables.scss";

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.CreateProductModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 52px 24px;
  background: $secondary-color;
  color: $primary-color-dark-30;
  border: 2px solid $primary-color-dark-30;
  border-radius: 6px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 400px;
  animation: fadeIn 0.3s forwards;

  @media screen and (max-width: $brp-lg) {
    width: 70%;
  }

  @media screen and (max-width: $brp-md) {
    width: 70%;
  }

  @media screen and (max-width: $brp-sm) {
    width: 95%;
    max-height: 100vh;
    overflow: auto;
    z-index: 2;
  }
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: $primary-color;
}

.closeBtn:before {
  content: "✖";
  font-size: 36px;
  color: $primary-color-dark-20;
  transition: color 0.3s;
}

.selectedBlock {
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 32px;

  @media screen and (max-width: $brp-md) {
    padding-bottom: 16px;
  }
}

.selectedName {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 12px;

  @media screen and (max-width: $brp-md) {
    font-size: 1em;
  }
}

.button {
  cursor: pointer;
  background: $primary-color;
  color: $secondary-color;
  transition: $transition-medium background-color;
  font-size: 1.5em;
  border-radius: 6px;
  border: 1px solid $primary-color-dark-30;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75px;
  margin-top: 24px;
}

.button:hover,
.button:active {
  @media screen and (min-width: $brp-sm) {
    background: $primary-color-dark-30;
    transform: scale(1.01);
    transition: transform 0.3s, background-color 0.3s;
  }
}

.spinner {
  margin-top: 24px;
  width: 75px;
}

.errorText {
  padding-top: 24px;
  font-size: 1.2em;
  color: $error-color;
}

.link {
  text-decoration: underline;
  padding: 4px 0 6px 6px;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
} 

.field {
  margin: 12px;
}